---
const { platform, username } = Astro.props;
const url =
  platform === 'LinkedIn'
    ? `https://www.linkedin.com/in/${username}`
    : platform === 'RSS'
      ? '/rss.xml'
      : `https://www.${platform.toLowerCase()}.com/${username}`;

const icons = {
  GitHub: `<svg width="18" height="18" viewBox="0 0 64 64" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M32.0003 1C14.3293 1 0 15.3267 0 33.0003C0 47.1388 9.16905 59.1339 21.8837 63.3652C23.483 63.6614 24.0702 62.671 24.0702 61.8258C24.0702 61.0628 24.0405 58.542 24.0267 55.868C15.1242 57.8038 13.2457 52.0924 13.2457 52.0924C11.79 48.3937 9.69259 47.4101 9.69259 47.4101C6.78921 45.424 9.91145 45.4648 9.91145 45.4648C13.1248 45.6906 14.8168 48.7625 14.8168 48.7625C17.6709 53.6546 22.3029 52.2403 24.129 51.4226C24.4162 49.3544 25.2455 47.9427 26.1606 47.1436C19.0529 46.3344 11.5812 43.5905 11.5812 31.3289C11.5812 27.8352 12.8313 24.9806 14.8783 22.7396C14.5461 21.9336 13.4507 18.6789 15.1883 14.2711C15.1883 14.2711 17.8755 13.411 23.9907 17.5512C26.5432 16.8422 29.2808 16.4866 32.0003 16.4745C34.7198 16.4866 37.4594 16.8422 40.0168 17.5512C46.1245 13.411 48.808 14.2711 48.808 14.2711C50.5498 18.6789 49.4539 21.9336 49.1217 22.7396C51.1735 24.9806 52.4151 27.8352 52.4151 31.3289C52.4151 43.6197 44.929 46.3259 37.8033 47.1182C38.9511 48.1112 39.9738 50.0586 39.9738 53.0441C39.9738 57.3258 39.9367 60.7718 39.9367 61.8258C39.9367 62.6774 40.5128 63.6752 42.1348 63.361C54.8426 59.1249 64 47.1341 64 33.0003C64 15.3267 49.6728 1 32.0003 1Z"></path>
  </svg>`,
  LinkedIn: `<svg width="22" height="22" viewBox="0 0 60 60" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M8 11.1519C8 9.41161 9.44653 8 11.231 8H48.769C50.5534 8 52 9.41162 52 11.1519V48.8481C52 50.589 50.5534 52 48.769 52L11.231 52C9.44653 52 8 50.589 8 48.8481V11.1519ZM21.5943 44.8326V24.9641H14.9904V44.8326H21.5943ZM18.2923 22.2514C20.5952 22.2514 22.0286 20.7257 22.0286 18.8191C21.9857 16.8695 20.5952 15.3861 18.336 15.3861C16.077 15.3861 14.6 16.8695 14.6 18.8191C14.6 20.7257 16.0331 22.2514 18.2493 22.2514H18.2923ZM31.7913 44.8326V33.7372C31.7913 33.1434 31.8343 32.5501 32.0086 32.1257C32.486 30.9392 33.5727 29.7104 35.397 29.7104C37.7866 29.7104 38.7426 31.5324 38.7426 34.2034V44.8326H45.3459V33.4403C45.3459 27.3376 42.0879 24.4979 37.743 24.4979C34.2399 24.4979 32.6692 26.4233 31.7915 27.7771V27.8455H31.7474C31.7619 27.8229 31.7766 27.8001 31.7915 27.7771V24.9641H25.1877C25.2743 26.8284 25.1877 44.8326 25.1877 44.8326H31.7913Z"></path>
  </svg>`,
  X: `<svg width="18" height="18" viewBox="0 0 1200 1227" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"></path>
  </svg>`,
  RSS: `<svg width="22" height="22" viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M 5 5 L 5 9 C 14.93 9 23 17.07 23 27 L 27 27 C 27 14.85 17.15 5 5 5 z M 5 12 L 5 16 C 11.07 16 16 20.93 16 27 L 20 27 C 20 18.72 13.28 12 5 12 z M 8 21 A 3 3 0 0 0 8 27 A 3 3 0 0 0 8 21 z"/>
  </svg>`,
};

const IconSvg = icons[platform] || '';
---

<a
  href={url}
  class="flex items-center justify-center w-8 h-8 transition-colors bg-gray-300 text-gray-900 dark:bg-gray-600 dark:text-gray-100 rounded-full duration-300"
>
  <span set:html={IconSvg} />
</a>
